%p{ data: { target: ('#' + partial_local_var.to_s) } }
  This is a Haml partial with local variable and data attribute partial_local_var:#{partial_local_var}

%p{ data: { target: "##{partial_local_var}" } }
  This is a Haml partial with local variable and data attribute partial_local_var:#{partial_local_var}
